Repository AxaFrance/react-toolkit, pull requests merged in 2020-11, with the labels that each got.

#790 build: exclude lerna from prettier check
  .prettierignore
Labels: Component: Tools

#789 test(core): add tests
  jest.config.json
  package-lock.json
  packages/Form/Input/choice/src/__snapshots__/Choice.spec.js.snap
  packages/Form/Input/radio/src/__snapshots__/RadioInput.spec.js.snap
  packages/core/package.json
  packages/core/src/ClassManager.spec.ts
  packages/core/src/ClassManager.ts
  packages/core/src/InputManager.spec.ts
  packages/core/src/InputManager.ts
  packages/core/src/PropsManager.spec.ts
  packages/core/src/PropsManager.ts
Labels: Component: Core

#785 test(modal): Using Testing Library
  azure-pipelines.yml
  jest.config.json
  package-lock.json
  package.json
  packages/Modal/boolean/src/ModalBoolean.spec.tsx
  packages/Modal/boolean/src/__snapshots__/ModalBoolean.spec.tsx.snap
  packages/Modal/default/src/Body.spec.tsx
  packages/Modal/default/src/Body.ts
  packages/Modal/default/src/Body.tsx
  packages/Modal/default/src/Div.spec.tsx
  packages/Modal/default/src/Footer.spec.tsx
  packages/Modal/default/src/Footer.ts
  packages/Modal/default/src/Footer.tsx
  packages/Modal/default/src/Header.spec.tsx
  packages/Modal/default/src/HeaderBase.spec.tsx
  packages/Modal/default/src/HeaderBase.ts
  packages/Modal/default/src/HeaderBase.tsx
  packages/Modal/default/src/HeaderCore.spec.tsx
  packages/Modal/default/src/Modal.spec.tsx
  packages/Modal/default/src/ModalCore.spec.tsx
  packages/Modal/default/src/ModalCore.tsx
  packages/Modal/default/src/__snapshots__/Body.spec.tsx.snap
  packages/Modal/default/src/__snapshots__/Footer.spec.tsx.snap
  packages/Modal/default/src/__snapshots__/Header.spec.tsx.snap
  packages/Modal/default/src/__snapshots__/HeaderBase.spec.tsx.snap
  packages/Modal/default/src/__snapshots__/HeaderCore.spec.tsx.snap
  packages/Modal/default/src/__snapshots__/Modal.spec.tsx.snap
  packages/Modal/default/src/__snapshots__/ModalCore.spec.tsx.snap
  packages/Modal/default/src/__tests__/Body.spec.tsx
  packages/Modal/default/src/__tests__/Div.spec.tsx
  packages/Modal/default/src/__tests__/Footer.spec.tsx
  packages/Modal/default/src/__tests__/Header.spec.tsx
  packages/Modal/default/src/__tests__/HeaderBase.spec.tsx
  packages/Modal/default/src/__tests__/HeaderCore.spec.tsx
  packages/Modal/default/src/__tests__/Modal.spec.tsx
  packages/Modal/default/src/__tests__/ModalCore.spec.tsx
  packages/Modal/default/src/__tests__/__snapshots__/Body.spec.tsx.snap
  packages/Modal/default/src/__tests__/__snapshots__/Div.spec.tsx.snap
  packages/Modal/default/src/__tests__/__snapshots__/Footer.spec.tsx.snap
  packages/Modal/default/src/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/Modal/default/src/__tests__/__snapshots__/HeaderBase.spec.tsx.snap
  packages/Modal/default/src/__tests__/__snapshots__/HeaderCore.spec.tsx.snap
  packages/Modal/default/src/__tests__/__snapshots__/Modal.spec.tsx.snap
  packages/Modal/default/src/__tests__/__snapshots__/ModalCore.spec.tsx.snap
  scripts/jest.init.js
Labels: hacktoberfest-accepted

#795 build: bump project dependencies
  package-lock.json
  package.json
  packages/Form/Input/card/package.json
  packages/Form/Input/checkbox/package.json
  packages/Form/Input/choice/package.json
  packages/Form/Input/date-phone/package.json
  packages/Form/Input/date/package.json
  packages/Form/Input/file/package.json
  packages/Form/Input/number/package.json
  packages/Form/Input/pass/package.json
  packages/Form/Input/radio/package.json
  packages/Form/Input/select-multi/package.json
  packages/Form/Input/select/package.json
  packages/Form/Input/slider/package.json
  packages/Form/Input/switch/package.json
  packages/Form/Input/text/package.json
  packages/Form/Input/textarea/package.json
  packages/Form/core/package.json
  packages/Form/filter-inline/package.json
  packages/Form/filter/package.json
  packages/Form/steps/package.json
  packages/Layout/footer-client/package.json
  packages/Layout/header/package.json
  packages/alert/package.json
  packages/collapse/package.json
  packages/loader/package.json
  packages/popover/package.json
Labels: dependencies

#729 Feature/improve contributor xp
  CONTRIBUTING.md
  README.md
  package.json
Labels: hacktoberfest-accepted

#783 build: publish on next when prerelease
  azure-pipelines.yml
Labels: Component: Tools

#800 test(help): add tests
  packages/help/src/Help.container.tsx
  packages/help/src/Help.spec.tsx
  packages/help/src/Help.stories.tsx
  packages/help/src/__snapshots__/Help.spec.tsx.snap
  packages/help/src/__tests__/Help.spec.tsx
Labels: Component: Help

#669 fix(modal): display the scroll when the modal is too big
  packages/Modal/default/src/modal.scss
Labels: Component: Modal, Need UX/UI

#802 test(title): add tests
  packages/title/src/Title.spec.tsx
  packages/title/src/Title.stories.tsx
  packages/title/src/__tests__/Title.spec.tsx
Labels: Component: Title

#798 build: change version of react peerDependency
  packages/Form/Input/card/package.json
  packages/Form/Input/checkbox/package.json
  packages/Form/Input/choice/package.json
  packages/Form/Input/date-phone/package.json
  packages/Form/Input/date/package.json
  packages/Form/Input/file/package.json
  packages/Form/Input/number/package.json
  packages/Form/Input/pass/package.json
  packages/Form/Input/radio/package.json
  packages/Form/Input/select-multi/package.json
  packages/Form/Input/select/package.json
  packages/Form/Input/slider/package.json
  packages/Form/Input/switch/package.json
  packages/Form/Input/text/package.json
  packages/Form/Input/textarea/package.json
  packages/Form/core/package.json
  packages/Form/filter-inline/package.json
  packages/Form/filter/package.json
  packages/Form/steps/package.json
  packages/Form/summary/package.json
  packages/Layout/footer-client/package.json
  packages/Layout/footer/package.json
  packages/Layout/header/package.json
  packages/Modal/boolean/package.json
  packages/Modal/default/package.json
  packages/action/package.json
  packages/alert/package.json
  packages/all/package.json
  packages/badge/package.json
  packages/button/package.json
  packages/collapse/package.json
  packages/help/package.json
  packages/highlight/package.json
  packages/icon/package.json
  packages/link/package.json
  packages/list/package.json
  packages/loader/package.json
  packages/panel/package.json
  packages/popover/package.json
  packages/restitution/package.json
  packages/status/package.json
  packages/table/package.json
  packages/tabs/package.json
  packages/title/package.json
Labels: dependencies

#782 refactor(core): add type on compose
  packages/Layout/footer/src/Footer.ts
  packages/Layout/footer/src/FooterCore.tsx
  packages/Modal/default/src/Header.ts
  packages/Modal/default/src/HeaderCore.tsx
  packages/action/src/Action.ts
  packages/action/src/ActionCore.tsx
  packages/alert/src/Alert.ts
  packages/alert/src/AlertCore.tsx
  packages/alert/src/AlertWithType.ts
  packages/badge/src/Badge.tsx
  packages/button/src/Button.tsx
  packages/button/src/ButtonCore.tsx
  packages/core/src/__tests__/ClassManager.spec.ts
  packages/core/src/__tests__/InputManager.spec.ts
  packages/core/src/__tests__/PropsManager.spec.ts
  packages/core/src/__tests__/__snapshots__/compose.spec.tsx.snap
  packages/core/src/__tests__/__snapshots__/identity.hoc.spec.tsx.snap
  packages/core/src/__tests__/__snapshots__/withClassDefault.hoc.spec.tsx.snap
  packages/core/src/__tests__/__snapshots__/withClassModifier.hoc.spec.tsx.snap
  packages/core/src/__tests__/__snapshots__/withProps.hoc.spec.tsx.snap
  packages/core/src/__tests__/compose.spec.tsx
  packages/core/src/__tests__/identity.hoc.spec.tsx
  packages/core/src/__tests__/withClassDefault.hoc.spec.tsx
  packages/core/src/__tests__/withClassModifier.hoc.spec.tsx
  packages/core/src/__tests__/withClickId.hoc.spec.tsx
  packages/core/src/__tests__/withProps.hoc.spec.tsx
  packages/core/src/compose.ts
  packages/core/src/identity.hoc.tsx
  packages/core/src/index.ts
  packages/core/src/withClassDefault.hoc.spec.tsx
  packages/core/src/withClassDefault.hoc.tsx
  packages/core/src/withClassModifier.hoc.spec.tsx
  packages/core/src/withClassModifier.hoc.tsx
  packages/core/src/withClickId.hoc.spec.tsx
  packages/core/src/withClickId.hoc.tsx
  packages/core/src/withProps.hoc.tsx
  packages/icon/src/Icon.tsx
  packages/loader/src/Loader.tsx
  packages/restitution/src/ArticleRestitution.tsx
  packages/restitution/src/HeaderRestitution.tsx
  packages/restitution/src/Restitution.tsx
  packages/restitution/src/SectionRestitution.tsx
  packages/restitution/src/SectionRestitutionColumn.tsx
  packages/restitution/src/SectionRestitutionRow.tsx
  packages/restitution/src/SectionRestitutionTitle.tsx
  packages/table/src/Body.tsx
  packages/table/src/Header.tsx
  packages/table/src/Items/Items.tsx
  packages/table/src/Pager/Pager.tsx
  packages/table/src/Paging/Paging.tsx
  packages/table/src/TableCore.tsx
  packages/table/src/Td.tsx
  packages/table/src/Th.tsx
  packages/table/src/Tr.tsx
  packages/tabs/src/Pane.tsx
  packages/tabs/src/Tab.tsx
  packages/tabs/src/Tabs.stories.tsx
  packages/tabs/src/Tabs.tsx
  packages/tabs/src/Title.tsx
  packages/title/src/Title.tsx
Labels: Component: Core, hacktoberfest-accepted

#713 Update rc-slider dependency
  packages/Form/Input/slider/package.json
  packages/Form/Input/slider/src/Slider.js
  packages/Form/Input/slider/src/Slider.stories.js
Labels: Component: Form, dependencies
